<nav class="navbar p-5" role="navigation">
    <div class="navbar-brand">

        <div class="navbar-item"><img src="https://www.wealthsimple.com/static/ws-wordmark-7a6a6ea384e8586aaeb2597547f86158.svg"></div>

        <a role="button" class="navbar-burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <button class="button" style="border: none">Log in</button>
            <button class="button is-warning is-rounded">Get started</button>
        </div>
    </div>
</nav>

<div class="columns has-text-centered is-vcentered">
    <div class="column">
        <h2 class="title is-1 p-5">Get rich slow</h2>
        <h3 class="subtitle is-4 p-5">Powerful financial tools to help you grow and manage your money</h2>
        <button class="button is-warning is-rounded is-large">Get started</button>
    </div>
    <div class="column">
        <video autoplay loop>
            <source src="https://www.wealthsimple.com/static/2-human-powered-medium-flipped-ff2af165abcda24b72d11d55c8431543.mp4" type="video/mp4">
        </video>
    </div>
</div>